# Node / Deno
node_modules/
.deno/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# env / secret
.env
.env.local

# Editor / OS files
.vscode/
*.log
.DS_Store
Thumbs.db

# Docker / system
.docker/
docker-compose.override.yml

# IDE
.idea/
